
button#banner-button {
    background:rgb(235, 19, 145);
    /* background-color: red; */
    transition: .5s ease all !important;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
}

button#banner-button:hover {
    background: rgb(71, 68, 68);
    /* background-color: black; */
    letter-spacing: 10px;
}